@font-face {
    font-family: 'knockout';
    src: url('../assets/fonts/KnockHTF71FulMid.ttf') format('ttf'),
         url('../assets/fonts/KnockHTF71FulMid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../assets/fonts/Gotham-Bold.otf') format('otf'),
         url('../assets/fonts/Gotham-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('../assets/fonts/Gotham-Book.otf') format('otf'),
         url('../assets/fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Knockout 71 Full Middlewt';
    src: url('../assets/fonts/Knockout-71FullMiddlewt.woff2') format('woff2'),
        url('../assets/fonts/Knockout-71FullMiddlewt.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


body {
  overflow: hidden;
  font-family: 'Gotham-Book', 'Arial';
}

h1, h2, h3, h4, a, button {
  font-family: 'Knockout 71 Full Middlewt', 'Arial';
  text-decoration: none;
  line-height: 1.1;
}

header {
  box-shadow: 0px 0px 19px #80808080;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175px;
  z-index: 10;
  position: relative;
}

header img {
  height: 70px;
}
header img.qr_code {
    position: absolute;
    left:50px;
    height:150px;
 animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

.white {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: white;
    top: 0;
    z-index: 100;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 200px;
}

.choices a {
  background-color: #2e3445;
  color: white;
  font-size: 50px;
  width: 500px;
  margin: 30px;
  text-align: center;
  padding: 40px;
}

/*=========================  KIOSK 1  =========================================*/
.banner.black {
  width: 1080px;
  background: black;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner.black img {
  width: 1080px;
}

.loader {
  background-color: #2e3445;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: height .5s;
  z-index: 11;
}

.loader.close {
  height: 0;
}

.loader div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loader img {
  height: 300px;
}

.link_holders {
  height: 1095px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1080px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.link_holders.normal {
  position: absolute;
  bottom: 0;
  background: #2e3445;
  height: 677px;
}

.links {
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.links a {
  font-size: 69px;
  color: white;
  margin-bottom: 50px;
  padding-bottom: 3px;
  /*border-bottom: 10px solid #c9aa6d;*/
  position: relative;
  text-transform: uppercase;
  transition: transform .3s;
}

.links a:after {
  content: '';
  height: 12px;
  width: 0;
  position: absolute;
  bottom: -5px;
  background-color: #c9aa6d;
  left: 0;
}

.links a:last-child {
  margin-bottom: 0;
}

.links a:nth-child(1):after {
    -webkit-animation: taphere 10s infinite ease-in-out;
}

.links a:nth-child(2):after {
    -webkit-animation: taphere_two 10s infinite ease-in-out;
}

.links a:nth-child(3):after {
    -webkit-animation: taphere_three 10s infinite ease-in-out;
}

@-webkit-keyframes taphere {
  0%, 30%  { width:  0; }
    
  5%, 25% { width:  100%; }
}

@-webkit-keyframes taphere_two {
  33%, 63%  { width:  0; }
    
  38%, 58% { width:  100%; }
}


@-webkit-keyframes taphere_three {
  66%, 96%  { width:  0; }
    
  73%, 91% { width:  100%; }
}

.links a:nth-child(1){
    -webkit-animation: shiftLeft 10s infinite ease-in-out;
}

.links a:nth-child(2){
    -webkit-animation: shiftLeft_a 10s infinite ease-in-out;
}

.links a:nth-child(3){
    -webkit-animation: shiftLeft_b 10s infinite ease-in-out;
}

@-webkit-keyframes shiftLeft {
  0%, 30%  { margin-left:  0; }
    
  5%, 25% { margin-left:  50px; }
}

@-webkit-keyframes shiftLeft_a {
  33%, 63%  { margin-left:  0; }
    
  38%, 58% { margin-left:  50px; }
}


@-webkit-keyframes shiftLeft_b {
  66%, 96%  { margin-left:  0; }
    
  73%, 91% { margin-left:  50px; }
}


img.rymr {
    position: absolute;
    bottom:30px;
    right: 30px;
    width: 120px;
}

.text_full {
    padding: 100px 100px;
}

h2 {
  font-size: 65px;
  line-height: 1.1;
  color: #caab69;
  text-transform: uppercase;
}

h2.title {
  padding-bottom: 70px;
  border-bottom: 6px solid #caab69;
}

p {
  font-size: 37px;
  line-height: 1.6;
}

li {
  font-size: 35px;
  margin-bottom: 20px;
  color: #caab69;
}

ol li {
  font-size: 48px;
  margin-bottom: 70px;
  color: white;
}

ol li .fa-check {
  position: absolute;
  color: #3f3ac2;
  left: 33px;
  font-size: 64px;
  margin-top: -10px;
  opacity: .2;
  transition: opacity .3s;
  z-index: 0;
}

ol li.active_ans .fa-check {
  opacity: 1;
}

li .large, p .large {
  font-weight: bold;
  font-size: 42px;
  color: #c9ac5e;
}

p .large {
  color: #3e34ca;  
}


li span {
  color: #000000de;
}

.ten {
  position: absolute;
  right: -20px;
  font-size: 800px;
  opacity: .3;
  color: #caab69;
  margin: 0;
  bottom: -200px;
}

.home {
  position: absolute;
  top: 23px;
  padding: 50px;
  right: 8px;
  left: auto !important;
  height: auto !important;
  width: auto !important;
  z-index: 11;
}

.home img {
  height: 41px;
}

button {
  background: transparent;
  border: 5px solid #caab69;
  width: auto;
  font-size: 47px;
  color: #caab69;
  padding: 27px 60px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  left: 45%;
  transform: translateX(-50%);
  text-transform: uppercase;
}

button.purp {
  border: 5px solid #3f3ac2;
  color: #3f3ac2;
}

button.gold {
  border: 5px solid #caab69;
  color: #caab69;
}

button i {
  position: absolute;
  top: -5px;
  margin-left: 175px;
  padding: 29px 44px;
  border: 5px solid #caab69;
}

button.purp i {
  border: 5px solid #3f3ac2;
}

button.gold i {
  border: 5px solid #caab69;
}

.slider {
  /*display: none;*/
  height: 100vh;
  position: absolute !important;
  z-index: 2;
  width: 100%;
  top: 0;
}

.slider .slide {
  top: 0;
  height: 100vh;
  position: relative;
  z-index: 2;
  display: flex !important;
  justify-content: flex-end;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.slide .info {
  position: absolute;
  /*width: 1080px;*/
  height: auto;
  padding: 80px 60px;
  background: white;
  bottom: 0;
  left: 0;
  z-index: 3;
  min-width: 960px;
}

.action {
  position: absolute;
  font-size: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #caab69;
  background: white;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  top: -50%;
  height: 300px;
  width: 300px;
  -webkit-animation: scaler 3s infinite ease-in-out;
}

.slider .slide .action img {
  width: 74px;
  height: auto;
}

@-webkit-keyframes scaler {
  40%, 60%  { width: 300px; height: 300px; }
    
  50% { width:  400px; height: 400px; }
}

h4 {
  font-size: 50px;
  color: #2e3445;
  margin: 0;
  text-align: left;
  position: relative;
  z-index: 3;
}
    .puzzle {
        height: 83vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        margin-top: 50px;
        overflow: hidden;
    }

.quotes {
  display: none;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: #000000b8;
  height: 100vh;
  padding: 350px 100px;
  text-align: left;
}
.trivia_header {
    padding-top: 50px;
    width: 90%;
    margin: 0 auto;
}
.trivia_header h4 {
    text-align: center;
    font-size: 49px;
    height: 93px;
}

.small_intro {
  font-weight: bold;
  font-size: 40px;
  padding: 0 50px;
}

.wrong_ans {
  background-color: red !important;
}

.corr_ans {
  background-color: #3bb370 !important;
}

.question_holder {
    display: none;
    position: absolute;
    background: #fff;
    width: 80%;
    left: 0;
    right: 0;
    top:20%;
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 30px #80808061;
      transition: background-color .5s;

}
.answer_outcome.wrong h2 {
    color:red;
    font-size: 40px;
}
.answer.click_action {
    display: inline-block;
    width: 49%;
    text-align: center;
}
.text_slide .quotes {
  display: block;
  background-color: transparent;
}

.text_slide h4, .text_slide p {
  color: white;
}

.text_slide p {
  color: white;
  font-size: 40px;
}

.text_slide p:last-child {
  opacity: .6;
  font-size: 30px;
}

.member_page .quotes p {
  font-size: 40px;
/*.quotes p {
  font-size: 43px;
}*/
} 
.black_close {
  filter: brightness(0) invert(1);
}

#close {
  padding: 50px;
  position: absolute;
  top: 210px;
  right: 20px;
  z-index: 10;
  width: 50px;
  display: none;
}

.text p {
  position: relative;
  z-index: 1;
}

.cam {
  top: auto;
  margin-top: -61px;
}

.cam i {
  font-size: 100px;
}

.members .quotes p {
  font-size: 50px;
  font-weight: bold;
}

.quote {
  font-size: 150px;
  position: absolute;
  top: 94px;
  left: 50px;
}

.open img {
  margin-top: 17px;
  width: 52px !important;
}

.slider .slick-next, .slider .slick-prev {
  background-image: url(../assets/img/right_arr.png) !important;
  background-size: 50px !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  top: 50% !important;
  transform: translateY(-50%);
  right: 20px !important;
  font-size: 300px;
  left: auto !important;
  height: 100px;
  width: 100px;
  z-index: 1;
}

.slider .slick-next:before, .slider .slick-prev:before { 
  display: none;
}

.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent !important;
  border: none;
  outline: none;
  background: transparent;
}

.slider .slick-prev {
  left: 15px !important;
  margin-top: -67px;
  transform: rotate(180deg);
}

.background_text {
  margin-top: 100px;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 0;
}

.background_text video {
  width: 2040px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.text {
  padding: 100px 100px;
  background: white;
}

.text h2:last-child {
  margin-bottom: 0;
}

.content {
  margin-top: 1100px;
  padding-left: 100px;
}

.content h2 {
  color: white;
}
/*==-----------------------  kiosk 1 end  -----------------------------------------=*/







/*=========================  KIOSK 2  =========================================*/
.title_holder h2 {
  color: white;
  padding: 100px;
  margin: 0;
  position: relative;
}

.title_holder.purp {
  background-color: #3f3ac2;
}

.title_holder.gold {
  background-color: #caab69;
}

.title_holder i {
  font-size: 80px;
  color: white;
  position: relative;
}

.video {
  display: none;
  position: absolute;
  top: 546px;
  width: 1080px;
}

.video video {
  position: relative;
  z-index: 0;
  width: 1336px;
  height: auto;
  margin-top: 42px;
  left: 50%;
  transform: translateX(-50%);
}

.video i {
  color: white;
  font-size: 128px;
  position: absolute;
  bottom: 100px;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
}

.color_cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.color_slide {
  background-blend-mode: soft-light;
}

.slider .color_slide:nth-child(even) {
  background-color: #c63c257a;
}

.slider .color_slide:nth-child(odd)  {
  background-color: #3f3ac2a1;
}

.slider .color_slide:nth-child(even) h4 {
  color: #c63c25;
}

.slider .color_slide:nth-child(odd) h4 {
  color: #3f3ac2;
}


.color_slide .quotes {
  background-color: white;
}

.color_slide .quotes p {
  color: #2e3445;
  font-size: 37px;
}

.quotes h4 {
  font-size: 63px;
  margin-bottom: 82px;
}

.info h4 {
  text-transform: uppercase;
}
/*==-----------------------  kiosk 2 end  -----------------------------------------=*/





/*=========================  KIOSK 3  =========================================*/
.content.list {
  margin-top: 800px;
}
/*==-----------------------  kiosk 3 end  -----------------------------------------=*/

.popup {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
}

.popup section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #caab69;
}

.popup section h3 {
  color: white;
  font-size: 100px;
}